extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg" alt="imagen sobre nosotros" class="img-fluid")

            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget aliquet orci. Vivamus et sem odio. Sed in accumsan ligula. Nunc efficitur ex nec interdum varius. Nullam vestibulum sapien ac orci sollicitudin vulputate. Sed lacinia libero massa, non sagittis lacus sollicitudin id. Sed porta placerat tempus. Mauris neque neque, lobortis eu massa at, condimentum finibus mi. In orci ligula, ultricies a cursus id, tempus id nibh.
                p Suspendisse potenti. Praesent libero turpis, porttitor eget quam ut, ornare tincidunt urna. Morbi tristique dapibus turpis vel dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed cursus ante non risus finibus ornare. Aliquam eu orci at magna vulputate cursus nec eget libero. In fringilla nec elit ac accumsan. Ut ultrices vehicula velit ac vulputate. Phasellus non scelerisque ex. Mauris hendrerit iaculis fringilla. Ut vehicula consectetur ipsum, elementum ullamcorper purus maximus eget. Nunc blandit dignissim semper. Curabitur pharetra efficitur risus, id facilisis est dictum non. Suspendisse volutpat sollicitudin metus, quis iaculis lacus luctus sed. Nullam quis gravida tortor.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Suspendisse potenti. Praesent libero turpis Lorem ipsum dolor sit amet, consectetur adipiscing

                .col-md-4
                    img(src="img/icono_destinos.svg" alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Suspendisse potenti. Praesent libero turpis Lorem ipsum dolor sit

                .col-md-4
                    img(src="img/icono_precios.svg" alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Suspendisse potenti. Praesent libero turpis, Lorem ipsum dolor sit amet, consectetur adipiscing   